*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #8e9597;
  text-transform: uppercase;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: darkred;
  margin-top: 5px;
}

  
.card:hover img {
  /* -webkit-transform: scale(1.05); */
  transform: scale(1.02);
}

.card img{
  
  width: 20vw;
  height: 40vh;
  
}
.Cards{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  
}
button{
  margin-top: 5px;
  width:8vw;
  height: 5vh;
  border-radius: 5px;
  font-size:10px;
  cursor: pointer;
  background-color: rgb(8, 8, 8);
  color: white;
}
button:hover{
  background-color: red;
  
  

}
.second-card{
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}